body {
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
}

h1, p, form, input {
  box-sizing: border-box;
}

.welcomeBlock {
  color: white;
  text-align: center;
  font-size: .8em;
  padding: 5px;
  border-top: 1px solid white;
  margin: 0 auto 10px auto;
  padding: 5px;
  width: 200px;
}

#loginForm {
  background-color: white;
  width: 380px;
  padding: 60px 40px;
  margin: 0 auto;
}

h1, .formInputArea, #submitButton {
  margin-bottom: 30px;
}

h1 {
  font-size: 2em;
  color: black;
  text-align: center;
}

.textBox {
  color: gray;
  width: 100%;
  border: none;
  border-bottom: 1px #cccccc solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  text-align: left;
  margin-bottom: 15px;
}

p.subText {
  font-size: .7em;
  text-align: center;
  color: #cccccc;
}

p.subText a {
  color: #cccccc;
}

p.subText a:hover {
  color: black;
}

#submitButton {
  color: white;
  width: 100%;
  background-color: black;
  border: 1px black solid;
  text-transform: uppercase;
  font-size: .9em;
  text-align: center;
  padding: 15px;
}

#submitButton:hover {
  color: black;
  background-color: white;
}

#wrongPassword {
  color: red;
  width: 100%;
  text-transform: uppercase;
  font-size: .8em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}